body {
    font-family: Verdana, sans-serif;
}

.newsItem {
    border: 1px solid grey;
    margin-top: 10px;
}

.imageContainer {
    text-align: center;
}

.newsImage {
    width: 500px;
    object-fit: contain;
}